
#navbar {
    background-color: rgb(9, 9, 10);
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    
}

#navbar a:hover {
    color: rgb(233, 211, 47);
}

.welcome {
    background-color: rgba(61, 69, 82, 0.589);
    /* set the margin in this class */
    /* margin: 15px; */
}
.logosmall {
    width: 40%;
}
.imagecenter {
    display:flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
}

.imagesmall {
    width: 550px;
}

.textcenter {
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 60px;
}
    
/*  set the text size for paragraphs */
p {
    text-align: center;
    font-size: 30px;
}